.card{
  width: 100%;
  border-radius: 5px;
  box-shadow: #231924  ;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgb(59, 18, 85) 20%, rgb(18, 39, 104) 100%);
h3,h5{
  padding: 1rem;
  color: whitesmoke;
  display: block;
}
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
