.footer{
    background: #231924;
    padding-top: 20px;
    color:whitesmoke;
h2{
    padding-left: 0;
}
    .footer-title {
        font-weight: 400;
        font-family: "Calibre-Regular","Helvetica","sans-serif";
        font-size: 19px;
    }

    ul{
        list-style: none;
        li{
            a{
                color: #d0c6c6;
            }
            padding-bottom: 7vh;
        }
    }
}
.footer .social-media__item:not(:last-child) {
    margin-right: 1rem;
    position: relative;
}

.footer .social-media__item {
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: calc(100% - (90px * 2));
    max-width: 1240px;
    position: relative;
}

.footer .social-media__item a {
    border-bottom: 1px solid #fff;
    opacity: 0.3;
    -webkit-transition: 300ms opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 300ms opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.footer .social-media__item a:hover {
    opacity: 1;
}
