*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Lato, sans-serif;
    overflow-x: hidden;
    background-color: whitesmoke;
}

.nav-dark{
    background: #231924;
}


/*intro section*/
.container-intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100vw;
    height: 100%;
    margin: 2vh auto;
    p{
        margin-bottom: 2rem;
    }
    .intro-button{
        background-color: rgba(0 ,0, 0, 0);
        margin-top: 1.5rem;
        margin-right: 0.5rem;
        border:  1px  solid #24133b;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: large;
    }
    .intro-button:hover{
        a{
            color: whitesmoke;
        }
        background-color: #24133b;
        color: whitesmoke;
    }

    .intro-text{
        font-size: xx-large;
        margin: 30vh auto;
        text-align:left;
        width: 70%;
        justify-content: center;
        height: 100%;
    }

    .intro-social{
        text-align:left;
        margin: 30vh auto;
        border-left: 1px solid black ;
        width: 100%;
        justify-content: left;

        ul {
            margin-left: 5vh;
            padding-top: 20px;
            list-style: none;
            display: flex;
            text-align: left;
            flex-direction: column;

            li {
                display: flex;
                padding-left: 0.5rem;
                padding-bottom:0.4rem ;
                align-content: center;
                text-align: center;
                a{
                  display: flex;
                }
                p{
                    padding-left: 1rem;
                }

                transform: scale(1);
            }
            li:hover{
                cursor: pointer;
                transform: scale(1.1);

            }
        }
    }

}




/*main*/
.services{
    width: 100vw;
    margin: 7vh auto;

    /*recent projects*/
    .service-container1{

        h2{
            width: 90vw;
            margin: 1.1rem;
            padding-left: 3rem;
        }

        .cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 90vw;
            margin: 2vh auto;
        }
        position: relative;
        img{
            width: 20%;
        }
    }
    /*about section*/
    .service-container2{
        ul{
            display: flex;
            padding: 1rem;
            margin: auto;
            justify-content: center;
            li{
                padding: 0.5rem;
                list-style: none;
            }
        }
        width: 100%;
        margin: 2rem auto;
        background-color: #24133b;
        color: whitesmoke;
        padding: 2rem;
        position: relative;
        .text{
            text-align: left;
            padding: 2rem;
            border-left: 1px solid whitesmoke;
            display: block;
            width: 70%;
            font-size: 24px;
            margin: 4rem auto;
        }
        .text a{
            color: whitesmoke;

        }
        .text a:hover{
            text-decoration: underline;

        }
    }

    /* section before footer*/
    .service-container3 {
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 2vh auto;
        position: relative;
        .service-img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            background-image: url("../../img/work10.png");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;

        }
        .service-description {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 3rem;
            text-align: left;
            p{
                display: inline;
            }
            .bigP{
                font-size: larger;
                font-weight: bolder;
            }
            a{
                border-bottom: 1px solid #030202;
            }
        
        }
    }
}

@media (max-width: 1000px){
    .services{
        .service-container1{
            .cards{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}


@media only screen and (max-width: 800px){
    .container-intro{
        grid-template-columns: 1fr;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10vh auto;
        .intro-text{
            font-size: larger;
            margin: 2vh auto;


        }
    }
    .intro-social{
        visibility: hidden;
        display: none;
    }

    .text{
        width: 90vw;
        font-size: 1rem;
    }
.services{
    .service-container1{
        .cards{
            grid-template-columns: 1fr 1fr ;
        }
    }
    .service-container2{
        .text{
            font-size: 16px;
            line-height: 24px;
            width: 100%;

        }
    }
    .service-container3{
        grid-template-columns: none;
    }

}


}


@media (max-width: 600px){
    .services{
        .service-container1{
            .cards{
                grid-template-columns: 1fr;
            }
        }
    }
}
