* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.nav-dark {
  background: #231924;
}

/*intro section*/
.container-intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vw;
  height: 75vh;
  margin: 2vh auto;
}
.container-intro .intro-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 2rem;
  margin-right: 1rem;
}
.container-intro .intro-text {
  font-size: xx-large;
  margin: 30vh auto;
  text-align: left;
  width: 60%;
  justify-content: center;
}
.container-intro .intro-text a {
  margin-top: 0.4rem;
  border: 1px solid #24133b;
  border-radius: 5px;
  padding: 0.5rem;
}
.container-intro .intro-text a:hover {
  background-color: #24133b;
  color: whitesmoke;
}
.container-intro .intro-social {
  text-align: left;
  margin: 30vh auto;
  border-left: 1px solid black;
  width: 100%;
  justify-content: left;
}
.container-intro .intro-social ul {
  margin-left: 5vh;
  align-items: center;
  list-style: none;
  display: flex;
  text-align: left;
}
.container-intro .intro-social ul li {
  display: flex;
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}
.container-intro .intro-social ul li img {
  width: 40px;
  margin-top: -9px;
}

/*main*/
.services {
  width: 100vw;
  margin: 0 auto;
  /*recent projects*/
  /*about section*/
  /* section before footer*/
}
.services .service-container1 {
  position: relative;
}
.services .service-container1 .cards {
  width: 90vw;
  margin: 2vh auto;
}
.services .service-container1 img {
  width: 20%;
}
.services .service-container2 {
  width: 100%;
  margin: 2rem auto;
  background-color: #24133b;
  color: whitesmoke;
  padding: 2rem;
  position: relative;
}
.services .service-container2 .text {
  text-align: left;
  padding: 2rem;
  border-left: 1px solid whitesmoke;
  display: block;
  width: 60%;
  font-size: x-large;
  margin: 4rem auto;
}
.services .service-container2 .text a {
  color: whitesmoke;
}
.services .service-container2 .text a:hover {
  text-decoration: underline;
}
.services .service-container3 {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 2vh auto;
  position: relative;
}
.services .service-container3 .service-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../img/work10.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.services .service-container3 .service-description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

@media only screen and (max-width: 768px) {
  .container-intro {
    grid-template-columns: 1fr;
  }

  .intro-social {
    visibility: hidden;
    display: none;
  }

  .intro-text {
    font-size: larger;
  }

  .text {
    width: 90vw;
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .text {
    font-size: large;
  }
}

/*# sourceMappingURL=homepage.css.map */
