*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Lato, sans-serif;
    overflow-x: hidden;
    padding-bottom: 200px;
    background-color: whitesmoke;
}

body *{
    transition: all 300ms ease-in-out ;
}

/*intro section*/
header{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
}

.intro-button{
    background-color: rgba(0 ,0, 0, 0);
    border: none;
    margin-top: 2rem;
}

.container-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: 100vh;
    text-align:left;
    justify-content: space-between;
    margin-top: 50px;

}

.intro-text{
    font-size: xx-large;
    margin: 30vh auto;
    grid-column: 1/2;
}

.intro-img{
    grid-column: 2/3;
}
.intro-text a{
    margin-top: 0.4rem;
    border:  1px  solid midnightblue;
    border-radius: 5px;
    padding: 0.5rem;
}

.container-intro a:hover{
    background-color: midnightblue;
    color: whitesmoke;
}


/*main section*/

main{
    background-image: url("../../img/bg1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.container{
    width:  100%;
    margin: 0 auto;
}

.services{
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr) );
    width: 100%;
    margin: 0 auto;

}

.service-container{
    display: flex;
    width: 80%;
    margin: 2vh auto;
}
.services img{
    width: 40%;
}

h2{
    font-weight: bold;
    font-size: xx-large;
    padding: 1rem;
}

/*Contact form*/
input, textarea{

    background: #d1d3eb;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    margin: 1rem;
}
form{
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5vh auto;
    background-color: #3e1f5d;
    border-radius: 10px;
    padding: 2rem;
    color: whitesmoke;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.contact button{
    width:150px;
    background-color: rgba(0,0,0,0);
    border:1px solid whitesmoke;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    color: whitesmoke;
    align-self: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    font-size: larger;
}
.contact button:hover{
    background-color: whitesmoke;
    color: #282c34;
}

.text{
    text-align: left;
    padding: 2rem;
    border-left: 1px solid whitesmoke;
    display: block;
    width: 60%;
    font-size: x-large;
    margin: 4rem auto;
}
.text a{
    color: whitesmoke;

}
.text a:hover{
    text-decoration: underline;

}
.text img{
    width: 10%;
   display: inline;
}
.service-container2{
    width: 100%;
    margin: 2rem auto;
    background-color: #282c34;
    color: whitesmoke;
    padding: 2rem;
}
@media only screen and (max-width: 768px){

    .intro-text{
        font-size: larger;
        margin-top: inherit;
    }

    .text{
        font-size:1.2rem;
        width: 90%;
    }
}

