*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Archia';
    src:  url('../fonts/archia-regular-webfont.woff2') format('woff2'),
          url('../fonts/archia-regular-webfont.woff') format('woff');
  }
body {
    font-family: "Archia",sans-serif;
    background-color: var(--bg-color);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
:root{
    --bg-color: #FFF2F2;
    --dark-purple: #38034A;
    --light-purple: #8B89F9;
    --teal:#BEFFB9;
    --peach: #FFA57E;
    --yellow: #FFDC62;

}
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

h1{
    font-family: 'Archia', serif;
}
/*intro section*/
.container-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "text img";
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding: 1.5rem;
    
    .intro-social{
        padding-top: 1.5rem;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                list-style: none;
                margin-right: 1rem;

                a{
                    border-bottom: none;
                }
            }
            li:hover{
                transform: scale(1.2);
            }
        }

    }

    .intro-text{
        grid-area: text;
        font-size: 24px;
        font-family: 'Archia', serif;
        justify-content: center;
        text-align: center;
        p{
            margin-top: 0.5rem;
        }
    }
    .intro-image{
        grid-area: img;
        width: 60%;
        text-align: center;
        margin: auto;
    }

}

.back-to-top{
    background-color: #24133b;
    color: whitesmoke;
    border-radius: 5px;
    padding: 0.3rem;
    border: none;

    svg{
        vertical-align: bottom;
    }
}
.back-to-top:hover{
    cursor: pointer;
}

/*main*/
.services{
    width: 100vw;
    .service-container1{

        h2{
            width: 90vw;
            margin-left: 2rem;
            font-size: 0.7rem;
            color: #232426;
        }

    }

    /*about section*/
    .service-container2{
        ul{
            display: flex;
            padding: 1rem;
            margin: auto;
            justify-content: center;
            li{
                padding: 0.5rem;
                list-style: none;
            }
        }
        width: 100%;
        margin: 2rem auto;
        background-color: var(--dark-purple);
        color: whitesmoke;
        padding: 2rem;
        position: relative;
        .text{
            text-align: left;
            padding: 2rem;
            display: block;
            width: 70%;
            font-size: 19px;
            line-height: 2rem;
            margin: auto;
        }
        .text a{
            color: whitesmoke;
        }

    }

    /* section before footer*/
    .service-container3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
        gap: 1.5rem;
        position: relative;
        .service-img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .service-description {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: "Archia", serif;
            text-align: left;
            p{
               span{
                   vertical-align: center;
                   svg{
                       vertical-align: center;


                   }
               }
            }
            .bigP{
                font-size: 1.2rem;
                font-weight: bolder;
                margin-bottom: 1rem;
            }
            a{
                border-bottom: 1px solid #030202;
            }
            .second-line-text{
                display: flex;
                p{

                        svg{
                            vertical-align: bottom;
                        }

                }

            }
            .intro-social{

                ul{
                    display: flex;
                    margin-top: 2rem;

                li{
                    list-style: none;
                    margin-right: 1rem;

                    a{
                        border-bottom: none;
                    }
                }
                    li:hover{
                    transform: scale(1.2);
                    }
                }

            }

        }
    }
}

@media (max-width: 1000px){

    .services{
        .service-container1{
            .cards{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .container-intro{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "text" "img";
        margin-top: 3rem;
        padding: 0 1.5rem;

        p{
            margin-bottom: 0;
        }
        .intro-text{
            font-size: larger;
            margin: 2vh 4vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .intro-image{
            display: flex;
            align-items: center;
            justify-content: center;
            place-self: center;

        }
    }


    .text{
        width: 90vw;
        font-size: 1rem;
    }
.services{
    .service-container1{
        .cards{
            grid-template-columns: 1fr 1fr ;
        }
    }
    .service-container2{
        .text{
            font-size: 16px;
            line-height: 24px;
            width: 100%;

        }
    }
    .service-container3{
        grid-template-columns: none;
    }

}


}


@media (max-width: 600px){
    .services{
        .service-container1{
            .cards{
                grid-template-columns: 1fr;
            }
        }
    }
}
i{
    img{
        width: 20px;
        vertical-align: middle;
        margin-left: 0.5rem;
    }
}

.ProjectLink{
a:hover{

        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;

}

}