.card{
  padding: 1rem;
  a{
    cursor: pointer;
    color: whitesmoke;
    margin-top:1rem ;
    margin-left:1rem ;
    padding-bottom: 1px;
    h3{
      padding: 1px 0;
     margin-left: 1rem;
    }
    h3:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }

  ul{
    display: flex;
    justify-content:space-between;
    margin-right:1rem;
    align-items: center;
  }
li{
  list-style: none;

}
  border-radius: 5px;
  box-shadow: #231924  ;
h3,h5{
  padding: 1rem;
  color: whitesmoke;
  display: block;
}
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
