.footer{
    background: #231924;
    color: #d9cece;
    padding: 7vh 0  7vh 0;
    .footer-title {
        font-weight: 200;
        font-size: 16px;
    }

    ul{
        list-style: none;
        li{
            a{
                color: #d9cece;
            }
        }
    }
}

.footer .social-media__item {
    display: inline-block;
    margin-right: 1rem;

}
.container{
   display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    position: relative;
    margin-left: 2vh;
}

.footer .social-media__item a {
    border-bottom: 1px solid #fff;
    opacity: 0.5;
    -webkit-transition: 300ms opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: 300ms opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.footer .social-media__item a:hover {
    opacity: 1;
}

@media (max-width: 800px){
    .footer{
        ul{
            margin-top: 2rem;
            li{
                font-size: 0.8rem;
            }
        }
    }
    .container{
        display: block;
    }
}
